<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Grease the groove</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center>Let the groove begin!</h1>

  <ion-spinner center *ngIf="state.loading"></ion-spinner>

  <ng-template [ngIf]="state.loaded && state.phase == 'Setup'">
    <p>Before we start, do as much pull-ups as you can. System will then generate a workout plan for you.</p>
    <p>For the best results:</p>
    <ul>
      <li>do 6 workouts per week (no rest between)</li>
      <li>rest 1 day at the end of the week</li>
    </ul>

    <ion-button (click)="startTest()" expand="full">
      Start
    </ion-button>
  </ng-template>

  <ng-template [ngIf]="state.phase == 'Testing'">
    <p>Do as much pull-ups as you can at a time</p>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="userConfig.addToMax(-1)" shape="round">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="openMaxInputAlert()">
            {{ userConfig.currentMax }}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="userConfig.addToMax(1)" shape="round">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button (click)="doneTesting()" expand="full">
      Done
    </ion-button>
  </ng-template>

  <ng-template [ngIf]="state.loaded && state.phase == 'Workout' && cycle">
    <ng-template [ngIf]="cycle.currentWorkoutDay.isDone">
      <p>Your work for today is done. Come back tomorrow.</p>

      <ion-icon name="checkmark" color="green" style="font-size: 10rem;" flex-center></ion-icon>
    </ng-template>
    <ng-template [ngIf]="!cycle.currentWorkoutDay.isDone">

      <div class="current-set-count">
        {{ cycle.currentWorkoutDay.currentSet?.reps }}
      </div>

      <ion-button (click)="cycle.currentWorkoutDay.finishSet()" style="display: flex; justify-content: center;">
        Done
      </ion-button>

      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let set of cycle.currentWorkoutDay.sets" [ngClass]="{ 'currentSet': set == cycle.currentWorkoutDay.currentSet }">
            {{ set.reps }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </ng-template>
</ion-content>